.teste{
    -fx-fill: #0C0F12;

    -fx-stroke-width: 2;
}

.root {
    -fx-background-color: #252525;
}

.titleProject{
    -fx-text-fill: white;
    -fx-font-size: 50px;

}

.sizeButtonsBlack{
    -fx-max-height: 150px;
}


.fileCount{
    -fx-translate-x: 100px;
    -fx-translate-y: -16px;
    -fx-background-color: white;
}

.buttonDirectory{
    -fx-text-fill: White;
    -fx-background-color: #252525;
    -fx-padding: 5;
    -fx-font-size: 20px;
    -fx-pref-width: 400px;
    -fx-pref-height: 50px;
    -fx-cursor: pointer;
}

.buttonDirectory:hover {


}

.screen{
    -fx-fill: #222E38;



}

.textDataApi{
    -fx-text-fill: White;
    -fx-font-size: 15px;
    -fx-alignment: top-left;

    -fx-width: 25px ;

}

.text-area {
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
}

.text-area .content {
    -fx-background-color: black;
    -fx-border-color: #222E38;
}